In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import plotly as py
%matplotlib inline
sns.set_style("darkgrid")

In [2]:
# importing the dataset
covid_df = pd.read_csv("covid_data.csv")

In [3]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,Africa,Zimbabwe,2023-03-17,264391.0,0.0,5.571,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297148,ZWE,Africa,Zimbabwe,2023-03-18,264391.0,0.0,2.714,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297149,ZWE,Africa,Zimbabwe,2023-03-19,264391.0,0.0,0.857,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297150,ZWE,Africa,Zimbabwe,2023-03-20,264391.0,0.0,0.000,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297151,ZWE,Africa,Zimbabwe,2023-03-21,264391.0,0.0,0.000,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
#getting information on the dataset
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297152 entries, 0 to 297151
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    297152 non-null  object
 1   continent                                   283021 non-null  object
 2   location                                    297152 non-null  object
 3   date                                        297152 non-null  object
 4   total_cases                                 261401 non-null  float64
 5   new_cases                                   288675 non-null  float64
 6   new_cases_smoothed                          287411 non-null  float64
 7   total_deaths                                240987 non-null  float64
 8   new_deaths                                  288741 non-null  float64
 9   new_deaths_smoothed                         287511 non-null  float64
 10  total_cases_per_million                     261401 non-null  float64
 11  new_cases_per_million                       288675 non-null  float64
 12  new_cases_smoothed_per_million              287411 non-null  float64
 13  total_deaths_per_million                    240987 non-null  float64
 14  new_deaths_per_million                      288741 non-null  float64
 15  new_deaths_smoothed_per_million             287511 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                34239 non-null   float64
 18  icu_patients_per_million                    34239 non-null   float64
 19  hosp_patients                               34744 non-null   float64
 20  hosp_patients_per_million                   34744 non-null   float64
 21  weekly_icu_admissions                       8961 non-null    float64
 22  weekly_icu_admissions_per_million           8961 non-null    float64
 23  weekly_hosp_admissions                      21049 non-null   float64
 24  weekly_hosp_admissions_per_million          21049 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          73463 non-null   float64
 35  people_vaccinated                           70359 non-null   float64
 36  people_fully_vaccinated                     68041 non-null   float64
 37  total_boosters                              42261 non-null   float64
 38  new_vaccinations                            60710 non-null   float64
 39  new_vaccinations_smoothed                   160807 non-null  float64
 40  total_vaccinations_per_hundred              73463 non-null   float64
 41  people_vaccinated_per_hundred               70359 non-null   float64
 42  people_fully_vaccinated_per_hundred         68041 non-null   float64
 43  total_boosters_per_hundred                  42261 non-null   float64
 44  new_vaccinations_smoothed_per_million       160807 non-null  float64
 45  new_people_vaccinated_smoothed              160918 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  160918 non-null  float64
 47  stringency_index                            193194 non-null  float64
 48  population_density                          252112 non-null  float64
 49  median_age                                  234493 non-null  float64
 50  aged_65_older                               226284 non-null  float64
 51  aged_70_older                               232140 non-null  float64
 52  gdp_per_capita                              229803 non-null  float64
 53  extreme_poverty                             148020 non-null  float64
 54  cardiovasc_death_rate                       230223 non-null  float64
 55  diabetes_prevalence                         241946 non-null  float64
 56  female_smokers                              172707 non-null  float64
 57  male_smokers                                170354 non-null  float64
 58  handwashing_facilities                      112729 non-null  float64
 59  hospital_beds_per_thousand                  203231 non-null  float64
 60  life_expectancy                             273235 non-null  float64
 61  human_development_index                     223159 non-null  float64
 62  population                                  297152 non-null  float64
 63  excess_mortality_cumulative_absolute        10205 non-null   float64
 64  excess_mortality_cumulative                 10205 non-null   float64
 65  excess_mortality                            10205 non-null   float64
 66  excess_mortality_cumulative_per_million     10205 non-null   float64
dtypes: float64(62), object(5)
memory usage: 151.9+ MB

In [5]:
# finding the matrix of the dataset
covid_df.shape

(297152, 67)

In [6]:
# the first 5 rows 
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
# the last 5 rows
covid_df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
297147,ZWE,Africa,Zimbabwe,2023-03-17,264391.0,0.0,5.571,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297148,ZWE,Africa,Zimbabwe,2023-03-18,264391.0,0.0,2.714,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297149,ZWE,Africa,Zimbabwe,2023-03-19,264391.0,0.0,0.857,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297150,ZWE,Africa,Zimbabwe,2023-03-20,264391.0,0.0,0.000,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297151,ZWE,Africa,Zimbabwe,2023-03-21,264391.0,0.0,0.000,5672.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [8]:
#creating a copy for analysis and testing on
covid_df_copy = covid_df.copy()

In [10]:
#dorpping columns not relevant to my analysis
covid_df.drop(columns=["new_cases_smoothed",
                        "new_cases_per_million", 
                        "new_cases_smoothed_per_million",
                        "new_deaths_smoothed",
                       "total_cases_per_million",
                       "total_deaths_per_million",
                       "new_deaths_per_million",
                       "icu_patients_per_million",
                       "hosp_patients_per_million",
                       "weekly_icu_admissions_per_million",
                       "weekly_hosp_admissions_per_million",
                       "total_tests_per_thousand",
                       "new_tests_per_thousand",
                       "new_tests_smoothed",
                       "new_tests_smoothed_per_thousand",
                       "new_vaccinations_smoothed",
                       "total_vaccinations_per_hundred",
                       "people_vaccinated_per_hundred",
                       "people_fully_vaccinated_per_hundred",
                       "total_boosters_per_hundred",
                       "new_vaccinations_smoothed_per_million",
                       "new_people_vaccinated_smoothed",
                       "new_people_vaccinated_smoothed_per_hundred",
                      "excess_mortality_cumulative_absolute",
                      "excess_mortality_cumulative",
                      "excess_mortality",
                      "excess_mortality_cumulative_per_million",
                      "hospital_beds_per_thousand"],
             inplace=True);

In [15]:
covid_df.drop(columns=["new_deaths_smoothed_per_million"], inplace=True)

In [16]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,Africa,Zimbabwe,2023-03-17,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297148,ZWE,Africa,Zimbabwe,2023-03-18,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297149,ZWE,Africa,Zimbabwe,2023-03-19,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297150,ZWE,Africa,Zimbabwe,2023-03-20,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297151,ZWE,Africa,Zimbabwe,2023-03-21,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0

In [18]:
# new dataset after dropping columns
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297152 entries, 0 to 297151
Data columns (total 38 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso_code                 297152 non-null  object
 1   continent                283021 non-null  object
 2   location                 297152 non-null  object
 3   date                     297152 non-null  object
 4   total_cases              261401 non-null  float64
 5   new_cases                288675 non-null  float64
 6   total_deaths             240987 non-null  float64
 7   new_deaths               288741 non-null  float64
 8   reproduction_rate        184817 non-null  float64
 9   icu_patients             34239 non-null   float64
 10  hosp_patients            34744 non-null   float64
 11  weekly_icu_admissions    8961 non-null    float64
 12  weekly_hosp_admissions   21049 non-null   float64
 13  total_tests              79387 non-null   float64
 14  new_tests                75403 non-null   float64
 15  positive_rate            95927 non-null   float64
 16  tests_per_case           94348 non-null   float64
 17  tests_units              106788 non-null  object
 18  total_vaccinations       73463 non-null   float64
 19  people_vaccinated        70359 non-null   float64
 20  people_fully_vaccinated  68041 non-null   float64
 21  total_boosters           42261 non-null   float64
 22  new_vaccinations         60710 non-null   float64
 23  stringency_index         193194 non-null  float64
 24  population_density       252112 non-null  float64
 25  median_age               234493 non-null  float64
 26  aged_65_older            226284 non-null  float64
 27  aged_70_older            232140 non-null  float64
 28  gdp_per_capita           229803 non-null  float64
 29  extreme_poverty          148020 non-null  float64
 30  cardiovasc_death_rate    230223 non-null  float64
 31  diabetes_prevalence      241946 non-null  float64
 32  female_smokers           172707 non-null  float64
 33  male_smokers             170354 non-null  float64
 34  handwashing_facilities   112729 non-null  float64
 35  life_expectancy          273235 non-null  float64
 36  human_development_index  223159 non-null  float64
 37  population               297152 non-null  float64
dtypes: float64(33), object(5)
memory usage: 86.1+ MB

In [19]:
#shape of new data set
covid_df.shape

(297152, 38)

In [24]:
covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'reproduction_rate', 'icu_patients',
       'hosp_patients', 'weekly_icu_admissions', 'weekly_hosp_admissions',
       'total_tests', 'new_tests', 'positive_rate', 'tests_per_case',
       'tests_units', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
       'stringency_index', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'life_expectancy',
       'human_development_index', 'population'],
      dtype='object')

I realised that the column tests_units in an object yet it is supposed to be contain numbers. So the first thing is to check the number of null values to see if we can convert it.

In [34]:
covid_df.tests_units.isnull()

0         True
1         True
2         True
3         True
4         True
          ...
297147    True
297148    True
297149    True
297150    True
297151    True
Name: tests_units, Length: 297152, dtype: bool

The test proves the column has all null values. I will proceed to drop the column since it is now irrelevant to my analysis.

In [36]:
covid_df.drop(columns=["tests_units"], inplace=True)

In [37]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,life_expectancy,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,64.83,0.511,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,Africa,Zimbabwe,2023-03-17,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297148,ZWE,Africa,Zimbabwe,2023-03-18,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297149,ZWE,Africa,Zimbabwe,2023-03-19,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297150,ZWE,Africa,Zimbabwe,2023-03-20,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0
297151,ZWE,Africa,Zimbabwe,2023-03-21,264391.0,0.0,5672.0,0.0,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,61.49,0.571,16320539.0

In [44]:
covid_df.to_csv("covid_data_cleaned.csv", index=False)